@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: "Outfit", sans-serif;
  --color-brand-primary: #10b981;
  --color-brand-dark: #1f2937;
  --color-brand-gray: #f3f4f6;
  --color-status-full: #ef4444;
}

/* Custom Scrollbar for modern look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.7);
}